<%= image_tag "https://creazilla-store.fra1.digitaloceanspaces.com/icons/3212712/map-marker-star-icon-md.png", height: 30, width: 30, alt: "Logo" %>
<div class="badge rounded-pill bg-primary fs-6">
  <%= event.name %>
</div>
