<%= image_tag "https://www.google.com/url?sa=i&url=https%3A%2F%2Fcreazilla.com%2Fnodes%2F3212712-map-marker-star-icon&psig=AOvVaw0TcjDw-HNYjvZP7goqFeMN&ust=1709808710104000&source=images&cd=vfe&opi=89978449&ved=2ahUKEwjsptX3u9-EAxWuk_0HHcQUBNMQjRx6BAgAEBY", height: 30, width: 30, alt: "Logo" %>
<div class="badge rounded-pill bg-primary fs-6">
  <%= event.name %>
</div>
