<%# bouton pour aller vers le form_user.html.erb à faire quand on est sur le dashboard%>
<%# bouton stylo avec grosse photo du user %>
<%#
<% if current_user.photo.attached? %>
  <%# <%= cl_image_tag current_user.photo.key, height: 300, width: 400, crop: :fill %>
<%# <% else %>
  <%# <%= image_tag("https://cdn-icons-png.flaticon.com/512/1178/1178882.png") %>
<%# <% end %>

<div data-controller="dashboard-tabs">
  <div class="karma-container col-12 row mx-0 position-relative py-2" style="justify-content: space-between">
    <button class="karma-button-rose p-0" data-dashboard-tabs-target="favoriteGamesButton" data-action="click->dashboard-tabs#displayFavoriteGames" style="width: 48% !important">Favorite Games</button>
    <button class="karma-button-violet p-0" data-dashboard-tabs-target="leaderboardButton" data-action="click->dashboard-tabs#displayLeaderboard" style="width: 48% !important">Leaderboard</button>
  </div>
  <div data-dashboard-tabs-target="leaderboardElement" class="d-none">
    <p>Hello world! - sarcasme avec bcp d'amour, Alex
      Cette tab n'existe plus si on ne fait pas le dashboard
    </p>
  </div>

  <div class="col-12" data-dashboard-tabs-target="favoriteGameElement">
    <%= render "shared/cards-games", games: current_user.games %>

    <details>
      <summary class="karma-container py-2" style="font-size: 24px"> Other Games </summary>
      <div> <%= render "shared/cards-games", games: @other_games %> </div>
    </details>
  </div>
</div>
