<%# bouton pour aller vers le form_user.html.erb à faire quand on est sur le dashboard%>
<%# bouton stylo avec grosse photo du user %>
<%#
<% if current_user.photo.attached? %>
  <%# <%= cl_image_tag current_user.photo.key, height: 300, width: 400, crop: :fill %>
<%# <% else %>
  <%# <%= image_tag("https://cdn-icons-png.flaticon.com/512/1178/1178882.png") %>
<%# <% end %>
<div>
<div data-controller="dashboard-tabs"> <!-- Controller -->
  <button data-action="click->dashboard-tabs#displayFavoriteGames"> My Favorite Games </button> <!-- Action (stimulus) -->
  <button data-action="click->dashboard-tabs#displayLeaderboard"> Leaderboard </button> <!-- Action (stimulus) -->
  <div class="">
    <div data-dashboard-tabs-target="favoriteGameElement" class="">
      <%= render "shared/cards-games", games: current_user.games %>
    </div>

    <div data-dashboard-tabs-target="leaderboardElement" class="">
      <p>Hello world! - sarcasme avec bcp d'amour, Alex</p>
    </div>
    <!-- div games -->
    <!-- div leaderboard -->
  </div>
</div>


<!-- Targets Comment appelle t on la target dans le cas ou le controller s'appelle dashboard_tabs ?-->
<%# <%= render 'form_user' %>
</div>
