<%# bouton pour aller vers le form_user.html.erb à faire quand on est sur le dashboard%>
<%# bouton stylo avec grosse photo du user %>
<%#
<% if current_user.photo.attached? %>
  <%# <%= cl_image_tag current_user.photo.key, height: 300, width: 400, crop: :fill %>
<%# <% else %>
  <%# <%= image_tag("https://cdn-icons-png.flaticon.com/512/1178/1178882.png") %>
<%# <% end %>

<div data-controller="dashboard-tabs">
  <div class="karma-container col-12 row mx-0 position-relative py-2" style="justify-content: space-between">
    <button class="karma-button-rose p-0" data-dashboard-tabs-target="favoriteGamesButton" data-action="click->dashboard-tabs#displayFavoriteGames" style="width: 48% !important">Favorite Games</button>
    <button class="karma-button-violet p-0" data-dashboard-tabs-target="leaderboardButton" data-action="click->dashboard-tabs#displayLeaderboard" style="width: 48% !important">Leaderboard</button>
  </div>
  <div data-dashboard-tabs-target="leaderboardElement" class="d-none karma-container">
    <div class="accordion" id="accordionExample">

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Leaderboard for RouxDouDou : Pokemon by ClotClot
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              <div class="d-flex justify-content-between">
              <p> 1 . </p>
              <p> Toufik2Flex </p>
            </div>
            <div class="d-flex justify-content-between">
              <p> 2 .</p>
              <p> LadyGabGab </p>
            </div>
            <div class="d-flex justify-content-between">
              <p> 3 .</p>
              <p> ClotClot</p>
            </div>
            <div class="d-flex justify-content-between">
              <p> 4 .</p>
              <p> Florian </p>
            </div>
            <div class="d-flex justify-content-between">
              <p> 5 .</p>
              <p> Anton1</p>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Leaderboard for Master Poulet : Yu-Gi-Yoh by ToiToine
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              <div class="d-flex justify-content-between">
              <p> 1 . </p>
              <p> LadyGabGab </p>
            </div>
            <div class="d-flex justify-content-between">
              <p> 2 .</p>
              <p> Florian </p>
            </div>
            <div class="d-flex justify-content-between">
              <p> 3 .</p>
              <p> ClotClot</p>
            </div>
            <div class="d-flex justify-content-between">
              <p> 4 .</p>
              <p> ToiToine </p>
            </div>
            <div class="d-flex justify-content-between">
              <p> 5 .</p>
              <p> Anton1</p>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
            Leaderboard for BOTC! : Blood On The Clock Tower by LadyGabGab
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              <div class="d-flex justify-content-between">
              <p> 1 . </p>
              <p> Toufik2Flex </p>
            </div>
            <div class="d-flex justify-content-between">
              <p> 2 .</p>
              <p> LadyGabGab </p>
            </div>
            <div class="d-flex justify-content-between">
              <p> 3 .</p>
              <p> ClotClot</p>
            </div>
            <div class="d-flex justify-content-between">
              <p> 4 .</p>
              <p> ToiToine </p>
            </div>
            <div class="d-flex justify-content-between">
              <p> 5 .</p>
              <p> Anton1</p>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseTwo">
            Leaderboard for C'est lunaire ! : Werewolves by ClemL
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              <div class="d-flex justify-content-between">
              <p> 1 . </p>
              <p> Anton1 </p>
            </div>
            <div class="d-flex justify-content-between">
              <p> 2 .</p>
              <p> Fl0rian </p>
            </div>
            <div class="d-flex justify-content-between">
              <p> 3 .</p>
              <p> ClemL</p>
            </div>
            <div class="d-flex justify-content-between">
              <p> 4 .</p>
              <p> LadyGabGab </p>
            </div>
            <div class="d-flex justify-content-between">
              <p> 5 .</p>
              <p> Toufik2Flex</p>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseTwo">
            Leaderboard for Eh ouais mon vieux ! : Uno by S4muel
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              <div class="d-flex justify-content-between">
              <p> 1 . </p>
              <p> Anton1 </p>
            </div>
            <div class="d-flex justify-content-between">
              <p> 2 .</p>
              <p> Fl0rian </p>
            </div>
            <div class="d-flex justify-content-between">
              <p> 3 .</p>
              <p> ClemL</p>
            </div>
            <div class="d-flex justify-content-between">
              <p> 4 .</p>
              <p> LadyGabGab </p>
            </div>
            <div class="d-flex justify-content-between">
              <p> 5 .</p>
              <p> Toufik2Flex</p>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseTwo">
            Leaderboard for Tu t'éparpilles ! : Yu-Gi-Yoh by Anton1
          </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              <div class="d-flex justify-content-between">
              <p> 1 . </p>
              <p> Anton1 </p>
            </div>
            <div class="d-flex justify-content-between">
              <p> 2 .</p>
              <p> Fl0rian </p>
            </div>
            <div class="d-flex justify-content-between">
              <p> 3 .</p>
              <p> ClemL</p>
            </div>
            <div class="d-flex justify-content-between">
              <p> 4 .</p>
              <p> LadyGabGab </p>
            </div>
            <div class="d-flex justify-content-between">
              <p> 5 .</p>
              <p> Toufik2Flex</p>
            </div>
          </div>
        </div>

      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseTwo">
            Leaderboard for I'm all in ! : Poker by Toufik2Flex
          </button>
        </h2>
        <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              <div class="d-flex justify-content-between">
              <p> 1 . </p>
              <p> Anton1 </p>
            </div>
            <div class="d-flex justify-content-between">
              <p> 2 .</p>
              <p> Fl0rian </p>
            </div>
            <div class="d-flex justify-content-between">
              <p> 3 .</p>
              <p> ClemL</p>
            </div>
            <div class="d-flex justify-content-between">
              <p> 4 .</p>
              <p> LadyGabGab </p>
            </div>
            <div class="d-flex justify-content-between">
              <p> 5 .</p>
              <p> Toufik2Flex</p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="col-12" data-dashboard-tabs-target="favoriteGameElement">
    <summary class="karma-container py-2" style="font-size: 24px"> Your favorite games </summary>
    <%= render "shared/cards-games", games: current_user.games %>
    <details>
      <summary class="karma-container py-2" style="font-size: 24px"> Other games </summary>
      <%= render "shared/cards-games", games: @other_games %>
    </details>
  </div>
</div>

<h1> </h1>
