<div class="background bg-card">
  <%# <img src="app/assets/images/HOMEPAGE_page-0001.jpg" alt="HOMEP"> %>

  <% if user_signed_in? %>
    <%= link_to "Browse events", events_path, id: "signup-btn" %>
  <% else %>
    <%= link_to "Log In", new_user_session_path, id: "login-btn"%>
    <%= link_to "Sign Up", new_user_registration_path, id: "signup-btn"%>
  <% end %>
</div>
