<div class="text-warning">
    <% unless current_user.events %>
    <h2 class="karma-container"> Create a new event </h2>
    <% else %>
      <h2 class="karma-container"> Events you've created </h2>
      <%= render "shared/cards-events", events: current_user.events %>
  <% end %>
  <% unless current_user.events_participations %>
    <h2 class="karma-container"> You're not registered to any events! </h2>
    <% else %>
      <div>
        <h2 class="karma-container"> Events you've registered to </h2>
        <%= render "shared/cards-events", events: current_user.events_participations %>
      </div>
  <% end %>
</div>
