<div class="row">
  <% @games.each do |game| %>
    <div class="col">
      <div class="card">
      <%= game.image_url ? image_tag(game.image_url, width: "100%") : image_tag("https://c.clc2l.com/t/m/o/monopoly-cgwI69.png", width: "100%") %>
        <h2 class=""><%= game.name %></h2>
        <%= button_to "☆", favorite_path(game), method: :patch, class: "btn btn-outline-warning"  %>
      </div>
  </div>
    <% end %>
</div>
