<div class="banner mb-2" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= @game.image_url%>'); height: 200px;" >
</div>

  <div class="karma-container p-3">
    <h2 style= "margin: 0px;"><%= @game.name %></h2>
    </div>

  <div class="karma-container p-3">

    <p style="margin-bottom: 0px !important;">Games Description: </p>
    <div class="event-info">
      <div class="event-description">
        <h6 style= "margin: 0px;"><%= @game.description %></h6>
      </div>
    </div>

    <ul style="padding-left: 0px;padding-top: 10px;">
        <li><i class="fa-solid fa fa-users" pe-2 m-2" style="color: #9e13f9;"></i>
        <%= @game.min_players %> players minimum
        </li>
    </ul>

    <button type="button" class="karma-button-violet">Add to favorites</button>
    </div>
