
.karma-button-rose{
  width: 100%;
  background-color: #f72585;
  border: #f72585;
  margin-top: 10px;
  border-radius: 10px;
  height: 33px;
  color: white;
  text-decoration: none;
}

.karma-button-violet{
  width: 100%;
  background-color: #9E13F9;
  border: #9E13F9;
  margin-top: 10px;
  border-radius: 10px;
  height: 33px;
  color: white;
  text-decoration: none;
}

.karma-button-accepte{
  width: 100%;
  background-color: #9E13F9;
  border: #9E13F9;
  margin-top: 10px;
  border-radius: 10px;
  height: 33px;
  color: white;
  text-decoration: none;
}

.karma-button-decline{
  width: 100%;
  background-color: rgb(32, 32, 32);
  border: #ffffff;
  border: solid 2px;
  margin-top: 10px;
  border-radius: 10px;
  height: 33px;
  color: #ffffff;
  text-decoration: none;
}
