
.karma-button-rose{
  width: 100%;
  background-color: #f72585;
  border: #f72585;
  margin-top: 10px;
  border-radius: 10px;
  height: 33px;
  color: white
}

.karma-button-violet{
  width: 100%;
  background-color: #9E13F9;
  border: #9E13F9;
  margin-top: 10px;
  border-radius: 10px;
  height: 33px;
  color: white
}
