/* _game.scss */

.card-container-games {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
  padding: 3px;
}


.card-games {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.card-games h2 {
  bottom: 10px;
  left: 10px;
  color: #fff;
  margin-left: 10px;
}

.favori{
  border: none;
  font-size: 1.5em;
  background: none;
}
