.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
    color: black;
}

.map-info-window-game-img {
  height: 200px;
  background-size: cover;
  background-position: center;

}
