  .offset-top {
    padding-top: 60px;
  }

 .navbar-complete {
  position: fixed;
  top: 0;
  background-color: #32153F;
  color: rgb(255, 255, 255); /* Couleur du texte de la navbar */
  width: 100%; /* Largeur de la navbar */
  display: flex; /* Utiliser Flexbox pour aligner les éléments horizontalement */
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #D9D9D9;
  margin-bottom: 25px;
  z-index: 50;
  padding-top: 2px;

  .left-button-nav {
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;/* Marge à droite pour séparer de 10px */
    width: 40px; /* Taille de l'avatar */
    height: 40px;
    border-radius: 50%; /* Bordure arrondie pour créer un avatar circulaire */
    // background-image: url(''); /* Chemin vers votre image */
    background-size: cover; /* Ajuste la taille de l'image pour couvrir l'élément */
    background-position: center;
    >img{
      width: 100%;
      padding-top: 5px;
    }
  }

  .right-avatar-nav {
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover; /* Ajuste la taille de l'image pour couvrir l'élément */
    background-position: center;
    >img{
      width: 100%
    }
}

  /* Style du texte "Karma" au milieu */
  .logo {
    text-align: center;
    width: 91.32px; /* Taille de l'avatar */
    height: 47.9px;
    // background-image: url(''); /* Chemin vers votre image */
    background-size: cover; /* Ajuste la taille de l'image pour couvrir l'élément */
    background-position: center;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-3 {
    flex: 0 0 auto;
    width: 25%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
